<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/smadjid" itemprop="sameAs"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i>Twitter</a>
<a href="https://scholar.google.com/citations?user=A8So5p8AAAAJ" itemprop="sameAs"><i class="ai ai-fw ai-google-scholar-square" aria-hidden="true"></i>Google Scholar</a>
<a href="https://www.linkedin.com/in/smadjid" itemprop="sameAs"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a>
<a href="https://github.com/smadjid" itemprop="sameAs"><i class="fa fa-fw fa-github" aria-hidden="true"></i>Github</a>

</div>
